.masters-choose{
    text-align: center;
    margin-top: 20px;
    .card{ 
        margin: 1%;
        margin-top: 25px;
        img{
            width: 64px;
            height: auto;
            opacity: 0.8;
        }
        select{
            position: absolute;
            bottom: 12px;
            right: 12px;
            font-size: 13px;
            background: transparent;
            border: 0;
            z-index: 99999;
        }
    }
}

