.skudetail {
    text-decoration: none;
    color: red;
    font-size: 110%;
    &:hover {
      color:darkgreen;
    }
  }
  .totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      padding: 15px 10px;
      box-shadow: 0px 0px 1px 1px #eeeeee;
      border-radius: 2px;
      background: #fbfbfb;
      margin: 0px 5px;
    }
    .amount {
      &:before {
        content: "";
        font-size: inherit;
        margin-right: 5px;
        transition: 0.5s ease-in-out;
      }
      padding: 0px 5px;
      vertical-align: middle;
      display: inline-block;
      min-width: 80px;
      transition: 0.5s ease-in-out;
    }
  }
  